@model Notas.Models.CursoModel

@{
    ViewBag.Title = "Curso";
}

<h2>Curso</h2>

<div>
    <h4>CursoModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notaCCQT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notaCCQT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notasTareas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notasTareas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notasComprobaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notasComprobaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notasExamenesCortos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notasExamenesCortos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notasClases)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notasClases)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.participacionForos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.participacionForos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notainvestigacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notainvestigacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notaPlanificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notaPlanificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notaEjecucionReporte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notaEjecucionReporte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notaVideo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notaVideo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.siglas }) |
    @Html.ActionLink("Back to List", "Index")
</p>
