@model Notas.Models.EvaluacionModel

@{
    ViewBag.Title = "VerEvaluacion";
}

<h2>Estudiante con carné @ViewBag.carne</h2>
<h4>Evaluaciones</h4>
<hr />


<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerEstudiantes</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
</head>
<div class="table-responsive-sm">
    <table class="table table-hover table-bordered table-sm">
        <tr class="bg-primary">
            <th style="color: white;">
                Rubro
            </th>
            <th style="color: white;">
                Notas
            </th>
            <th>

            </th>
        </tr>
        <tr class="" style="text-align: left;">
            <td>
                @Html.DisplayNameFor(model => model.notaCCQT)
            </td>
            <td>
                @Html.DisplayFor(model => model.notaCCQT)
            </td>
            <td>
                <a href="@Url.Action("VerEvaluacion", "Evaluacion", new { carne = ViewBag.carne })" class="btn btn-primary" role="button">Evaluaciones</a>
            </td>
        </tr>

        <tr class="" style="text-align: left;">
            <td>
                @Html.DisplayNameFor(model => model.notasLaboratorios)
            </td>
            <td>
                @Html.DisplayFor(model => model.notasLaboratorios)
            </td>
            <td>
                <a href="@Url.Action("VerEvaluacion", "Evaluacion", new { carne = ViewBag.carne })" class="btn btn-primary" role="button">Evaluaciones</a>
            </td>
        </tr>

        <tr class="" style="text-align: left;">
            <td>
                @Html.DisplayNameFor(model => model.notasExamenes)
            </td>
            <td>
                @Html.DisplayFor(model => model.notasExamenes)
            </td>
            <td>
                <a href="@Url.Action("VerEvaluacion", "Evaluacion", new { carne = ViewBag.carne })" class="btn btn-primary" role="button">Evaluaciones</a>
            </td>
        </tr>

        <tr class="" style="text-align: left;">
            <td>
                @Html.DisplayNameFor(model => model.participacionForos)
            </td>
            <td>
                @Html.DisplayFor(model => model.participacionForos)
            </td>
            <td>
                <a href="@Url.Action("VerEvaluacion", "Evaluacion", new { carne = ViewBag.carne })" class="btn btn-primary" role="button">Evaluaciones</a>
            </td>
        </tr>

        <tr class="" style="text-align: left;">
            <td>
                @Html.DisplayNameFor(model => model.notaInvestigacion)
            </td>
            <td>
                @Html.DisplayFor(model => model.notaInvestigacion)
            </td>
            <td>
                <a href="@Url.Action("VerEvaluacion", "Evaluacion", new { carne = ViewBag.carne })" class="btn btn-primary" role="button">Evaluaciones</a>
            </td>
        </tr>
    </table>
</div>
<p>
    <a href="@Url.Action("CrearEstudiante", "Estudiante")" class="btn btn-primary" role="button">Agregar estudiante</a>
</p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.evaluacionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div class="shadow" style="padding: 25px; border-radius: 25px; background-color:white;">
    <button id="btnAddField">Add Field</button>
    <div class="row" style="margin-left: 0px;margin-right: 0px;">
        @using (Html.BeginForm("Editar", "Articulo", new { }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" id="fields">
                        @Html.LabelFor(model => model.evaluacionId)
                        @Html.TextBoxFor(model => model.evaluacionId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.evaluacionId, "", new { @class = "text-danger" })
                    </div>

                    <input type="submit" value="Editar" class="btn btn-success" />
                    @Html.ActionLink("Cancelar", "InicioArticulos", "Articulo", routeValues: null, htmlAttributes: new { title = "Cancelar", @class = "btn btn-danger" })
                </div>
            </div>

            <br />

        }
    </div>
</div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="fields"></div>

    <button>Submit</button>
}


<div style="color:blue"><b>Data:</b> @ViewBag.Data</div>

<script type="text/javascript">

    $(document).ready(function () {
        var $fields = $('#fields');
        $('#btnAddField').click(function (e) {
            e.preventDefault();
            $('<input class="form-control" name="dynamicField type="text" /><br/>').appendTo($fields);
        });
    });

</script>

<input class="form-control" data-val="true" data-val-number="The field evaluacionId must be a number." data-val-required="The evaluacionId field is required." id="evaluacionId" name="evaluacionId" type="text" value="2">
