@model Notas.Models.EvaluacionModel

@{
    ViewBag.Title = "VerEvaluacion";
}

<h2>VerEvaluacion</h2>



<div>
    <h4>EvaluacionModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.notaCCQT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notaCCQT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notasTareas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notasTareas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notasComprobaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notasComprobaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notasExamenesCortos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notasExamenesCortos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notasClases)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notasClases)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.participacionForos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.participacionForos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notainvestigacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notainvestigacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notaPlanificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notaPlanificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notaEjecucionReporte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notaEjecucionReporte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notaVideo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notaVideo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.evaluacionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div class="shadow" style="padding: 25px; border-radius: 25px; background-color:white;">
    <button id="btnAddField">Add Field</button>
    <div class="row" style="margin-left: 0px;margin-right: 0px;">
        @using (Html.BeginForm("Editar", "Articulo", new { }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" id="fields">
                        @Html.LabelFor(model => model.evaluacionId)
                        @Html.TextBoxFor(model => model.evaluacionId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.evaluacionId, "", new { @class = "text-danger" })
                    </div>

                    <input type="submit" value="Editar" class="btn btn-success" />
                    @Html.ActionLink("Cancelar", "InicioArticulos", "Articulo", routeValues: null, htmlAttributes: new { title = "Cancelar", @class = "btn btn-danger" })
                </div>
            </div>

            <br />

        }
    </div>
</div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="fields"></div>

    <button>Submit</button>
}


<div style="color:blue"><b>Data:</b> @ViewBag.Data</div>
<!-- JS includes -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        var $fields = $('#fields');
        $('#btnAddField').click(function (e) {
            e.preventDefault();
            $('<input class="form-control" name="dynamicField type="text" /><br/>').appendTo($fields);
        });
    });

</script>

<input class="form-control" data-val="true" data-val-number="The field evaluacionId must be a number." data-val-required="The evaluacionId field is required." id="evaluacionId" name="evaluacionId" type="text" value="2">