@model Notas.Models.EvaluacionModel

@{
    /**/

    ViewBag.Title = "CCQT";
}

<h2>Evaluaciones del estudiante con carné @ViewBag.carne</h2>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="table-responsive-sm">
    <table class="table table-hover table-bordered table-sm">
        <tr class="bg-primary">
            <th style="color: white;">
                Rubro
            </th>
            <th style="color: white;">
                Nota
            </th>
            <th>

            </th>
        </tr>
        <tr class="" style="text-align: left;">
            <td>
                @Html.DisplayNameFor(model => model.notaCCQT)
            </td>
            <td>
                @Html.DisplayFor(model => model.notaCCQT)
            </td>
            <td>
                <a href="@Url.Action("EditarCCQT", "Evaluacion", new { carne = ViewBag.carne })" class="btn btn-primary" role="button">Evaluaciones</a>
            </td>
        </tr>

        <tr class="" style="text-align: left;">
            <td>
                @Html.DisplayNameFor(model => model.notaLabs)
            </td>
            <td>
                @Html.DisplayFor(model => model.notaLabs)
            </td>
            <td>
                <a href="@Url.Action("EditarLaboratorios", "Evaluacion", new { carne = ViewBag.carne })" class="btn btn-primary" role="button">Evaluaciones</a>
            </td>
        </tr>

        <tr class="" style="text-align: left;">
            <td>
                @Html.DisplayNameFor(model => model.notaParciales)
            </td>
            <td>
                @Html.DisplayFor(model => model.notaParciales)
            </td>
            <td>
                <a href="@Url.Action("EditarExamenes", "Evaluacion", new { carne = ViewBag.carne })" class="btn btn-primary" role="button">Evaluaciones</a>
            </td>
        </tr>

        <tr class="" style="text-align: left;">
            <td>
                @Html.DisplayNameFor(model => model.participacionForos)
            </td>
            <td>
                @Html.DisplayFor(model => model.participacionForos)
            </td>
            <td>
                <a href="@Url.Action("EditarParticipacion", "Evaluacion", new { carne = ViewBag.carne })" class="btn btn-primary" role="button">Evaluaciones</a>
            </td>
        </tr>

        <tr class="" style="text-align: left;">
            <td>
                @Html.DisplayNameFor(model => model.notaInvestigacion)
            </td>
            <td>
                @Html.DisplayFor(model => model.notaInvestigacion)
            </td>
            <td>
                <a href="@Url.Action("EditarInvestigacion", "Evaluacion", new { carne = ViewBag.carne })" class="btn btn-primary" role="button">Evaluaciones</a>
            </td>
        </tr>
    </table>
</div>
<p>
    <a href="@Url.Action("CrearEstudiante", "Estudiante")" class="btn btn-primary" role="button">Agregar estudiante</a>
</p>
<p>
    @Html.ActionLink("Regresar", "Index")
</p>
